<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Cookingorama</title>
    <link rel='stylesheet' href='/public/css/jass.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='preconnect' href='https://fonts.gstatic.com' />
    <link
      href='https://fonts.googleapis.com/css2?family=Benne&family=Nunito:wght@300&family=Viaoda+Libre&display=swap'
      rel='stylesheet'
    />
  </head>

  <body>
    <!-- Render the sub layout -->
    <main>
      <h1 class='recipes-heading'>Recipes</h1>
      <div class='top-content'>
        <h3>Recipes</h3>
        <label for='check1' class='label-menu'>All Recipes</label>
        <label for='check2' class='label-menu'>Breakfast</label>
        <label for='check3' class='label-menu'>Lunch</label>
        <label for='check4' class='label-menu'>Dinner</label>
      </div>
    </main>
    <div>
      Aqui van las recetas
    </div>
  </body>

</html>