 <div>
      <!--Logo and image-->
      <header>
        <div class='img-logo'></div>
        <div class='description'>
          <p>
            Cookingorama is a platform to inspire users to create delicious
            recipes with what they have at home. Nothing will be wasted,
            everything has an exquisite purpose. This is done based on simple
            decisions made by the user in relation to their tastes and what is
            available to them.
          </p>
        </div>
      </header>
      <!--Log In and Sign Up-->
      <div class='container'>
        <!--Log In-->
        <div class='signup-box'>
          <h2>Log In</h2>
          <form action=''>
            <label for=''>Username</label>
            <input type='text' placeholder='Username' />
            <label for=''>Email</label>
            <input type='email' placeholder='Enter your email address' />
            <label for=''>Password</label>
            <input type='password' placeholder='Enter your password' />
            <button>Log In</button>
          </form>
        </div>
        <!--Sign Up-->
        <div class='signup-box'>
          <h2>Sign Up</h2>
          <form action=''>
            <label for=''>Username</label>
            <input type='text' placeholder='Username' />
            <label for=''>Email</label>
            <input type='email' placeholder='Enter your email address' />
            <label for=''>Password</label>
            <input type='password' placeholder='Enter your password' />
            <button>Submit</button>
          </form>
        </div>
      </div>