/* Styles go here */

body {
  font-family: 'Nunito', sans-serif;
  background: url(/images/Background.png);
  background-size: 100%;
}

.img-logo {
  width: 300px;
  height: 200px;
  background-image: url(/images/cookingorama_logo-02.png);
  background-size: 80%;
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.signup-box {
  font-family: 'Nunito', sans-serif;
  width: 350px;
  height: 400px;
  margin: auto;
  border-radius: 5px;
  background-color: rgb(246, 69, 69);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heading {
  text-align: center;
  padding-top: 20px;
}

h2 {
  padding-top: 20px;
  text-align: center;
  background-color: rgb(246, 69, 69);
}

form {
  width: 300px;
  margin-left: 20px;
  background-color: rgb(246, 69, 69);
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
  background-color: rgb(246, 69, 69);
}

form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
  background-color: white;
}

button {
  width: 300px;
  height: 35px;
  margin-top: 20px;
  border: none;
  color: white;
  background-color: rgb(149, 73, 73);
  font-size: 25px;
  border-radius: 3px;
  cursor: pointer;
}

.container {
  display: flex;
}

p {
  text-align: center;
  background-color: rgb(255, 181, 181, 0.8);
  width: 75%;
  font-size: 2rem;
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  padding: 10px;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.recipes-heading {
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  text-align: center;
  font-size: 35px;
  position: relative;
  margin: 40px 0;
}

.recipes-heading::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: rgb(246, 69, 69);
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
      width: 100px;
  }
  50% {
      width: 200px;
  }
  100% {
      width: 100px;
  }
}

.top-content {
  background-color: rgb(255, 181, 181, 1);
  width: 90%;
  margin: 0 auto 20px auto;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 5px; 
  box-shadow: 3px 3px 5px lightgray;
}

h3 {
  height: 100%;
  background-color: rgb(149, 73, 73);
  line-height: 60px;
  padding: 0 50px;
  color: black;
}

.label-menu {
  display: inline-block;
  height: 100%;
  margin: 0 20px;
  line-height: 60px;
  font-size: 18px;
  color: black;
  cursor: pointer;
  transition: color .5s;
}

.label-menu:hover{
  color: rgb(200, 145, 145);
}